{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block predata %}
	<style>
	#login{
		border-left:medium solid transparent;	
	}
	#login > h5{
		color:black;
		
	}
	</style>
{% endblock %}
{% block option %}
			<div class = "col-xs-12 col-sm-2  col-md-2  col-lg-2 col-lg-push-2">
				<div id = "option" style = "color:black; padding:0px;" class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h6 style = "margin-left:2px; margin-top:2px; margin-bottom:0; font-weight: bold;  color:#85887F;" >MEMENTHO</h6>
				<hr style = "margin-bottom: 0px;margin-top:2px;  border-color:#85887F;">
					<!-- <a class = "select-option col-xs-3 col-sm-12   col-lg-12 " href = "following/" style = "color:black; padding:0px;margin:0px;"><h4 style = " text-align:center;">Readers</h4></a>
					<a class = "select-option col-xs-3 col-sm-12  col-lg-12 " href = "/bookmark" style = "color:black; padding:0px;margin:0px;"><h4 style = " text-align:center;">Bookmark</h4></a>-->
					<a  id = "login" class = "select-option col-xs-6 col-sm-12 col-lg-12  " href = "/" style = "color:black; margin:0px;"><h5>login</h5></a>
					
				</div>
			</div>
{% endblock %}
{% block content %}

<div class="row">
<div class="col-lg-12 card">
<h3>You have successfully logged out</h3>
</div>
</div>

{% block featured %}
{% endblock %}
{% endblock %}


