{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %} 
	<div class = "col-md-13 col-lg-13 col-xs-12 col-sm-12 card">
		<h2 class = "" style = "margin-bottom:30px;">Change Password</h2>
		 <h4><label for="id_old_password">Old password:</label> <input id="id_old_password" name="old_password" type="password"></h4>
		<h4><label for="id_new_password1">New password:</label> <input id="id_new_password1" name="new_password1" type="password"></h4>
		<h4><label for="id_new_password2">New password confirmation:</label> <input id="id_new_password2" name="new_password2" type="password"></h4>
		 <input type="submit" class = "col-md-7 col-lg-7 col-xs-12 col-sm-12 btn btn-success" value="Submit">
	</div>


</form>
{% endblock %}
			{% block featured %}
			{% endblock %}