{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block predata %}
	<link rel="stylesheet" type="text/css" href="{% static "css/option.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/option_4.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/feed.css" %}">
	<script type="text/javascript" src="{% static "js/feed.js"%}"></script>
	
{% endblock %}
	
{% block content %}
	{% include "option.html" %}
	<div id = "feedcontent" class = "col-md-8 col-md-pull-1 col-lg-10 col-xs-12 col-sm-12" style = "margin:0; padding:0;">

	<div class = "col-md-12 col-lg-12 col-xs-12 col-sm-12 text-green">
		<h2>Bookmark</h2>
	</div>
	<div class = "col-md-12 col-lg-12 col-xs-12 col-sm-12 text-green">
		<hr>
	</div>
		{% for story,image in list %}
			<div class = "col-md-12 col-lg-6 col-xs-12 col-sm-12 " style ="margin-top:30px; ">
					<div class = "col-md-12 col-lg-12" >
						<a class = "story" href = "/stories/read/?s={{story.storyid}}" >
							{% thumbnail image.story "500x500" crop="center" as im %}
								<img class = "img-responsive img-rounded"  src="{{im.url}}" style = "text-align:center;">
							{% endthumbnail %}
						</a>
					</div>
					<div class = "col-md-12 col-lg-12 col-xs-12 col-sm-12" style = "height:80px;">
						<h3 class = "visible-lg visible-md"style = "text-align: center">{{story.title}}</h3>
						<h4 class = "visible-xs visible-md col-xs-12 col-sm-12"style = "text-align: center">{{story.title}}</h4>
					</div>
					<div class = "col-md-12 col-lg-12 col-xs-12 col-sm-12"  style="margin-bottom:20px;">
						<div class = "col-md-4 col-lg-4 visible-lg visible-md" style="margin-bottom:10px;">
							{% if image.user %}
								{% thumbnail image.user "330x330" crop="center" as im %}
									<img class = "img-circle img-responsive user-pic"  src = "{{im.url}}" data-toggle="dropdown" data-target="#"/> 
								{% endthumbnail %}
							{% else %}
								<img class = "img-circle img-responsive user-pic"  src = "{{MEDIA_URL}}media/default/DefaultIconBlack_1.png" data-toggle="dropdown" /> 
							{% endif %}
						</div>
						<div  class = "col-md-6 col-lg-6 col-xs-12 col-sm-12">
							<h4>by {{story.user.username}}</h4>
							<h4>{{image.time}} ago</h4>
						</div>
						<div class = "col-md-12 col-lg-12 col-xs-12 col-sm-12 btn btn-success text-green no-effect-hover" style="background-color:white; margin-bottom:2px;">
							{{story.commentcount}} comments
						</div>
						<div class = "col-md-12 col-lg-12 col-xs-12 col-sm-12 btn btn-success text-green no-effect-hover" style="background-color:white;">
							{{story.starcount}} stars
						</div>
					</div>
			</div>
		{% endfor %}

	</div>
{% endblock %}
{% block footer %}
footer
{% endblock %}