{% extends "base.html" %}
{% load staticfiles %}
{% block predata %}
	<link rel="stylesheet" type="text/css" href="{% static "css/create_story.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/jquery.loading-indicator.css" %}">
	<script type="text/javascript" src="{% static "js/create_story.js"%}"></script>
	<script type="text/javascript" src="{% static "js/jquery.loading-indicator.min.js"%}"></script>
{% endblock %}
{% block content %}

	<div class = "col-md-12 col-lg-12 col-xs-12 col-sm-12  card">
		<div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<h3 >Create new story</h3>
		</div>
		<div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12">
			<ul>
			<li><h4>Make sure that the story contain at least an image and a text!</h4></li>
			<li><h4>The image choosen must be in JPEG format.</h4></li>
			<li><h4>The maximum size per image is 10mb.</h4></li>
			<ul>
		</div>
		<div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12">
			{% if messages %}
			<div class="messages">
				{% for message in messages %}
				<div {% if message.tags %} class="{{ message.tags }}"{% endif %}><h4 style = "color:red;" class = "error">{{ message }}</h4></div>
				{% endfor %}
			</div>
			{% endif %}
			
			{{ form.source.errors }}
			{% if form.title.errors %}
				<h4 class = "error">Please insert your title</h4>
			{% endif %}
		</div>
	</div>
<form action="/stories/create_stories/" method="post" enctype = "multipart/form-data">{% csrf_token %}
	<div class = "col-md-12 col-lg-12 col-xs-12 col-sm-12  card">
						<div class = "col-md-6 col-lg-6 col-sm-12 col-xs-12">
							<label for="id_Story-title"><h4>Title:</h4></label>
						</div>
						<div class = "col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<input class = "form-control" id="id_Story-title" maxlength="200" name="Story-title" type="text" placeholder="eg. Summer Vacation `15">
						</div>
	</div>
	<div id = "choice"  class = "col-md-12 col-lg-12 col-sm-12 col-xs-12 card">
		<div id="addimage" class = "col-sm-12 col-xs-12 col-md-12 col-lg-5 btn btn-success" style = "margin-bottom:10px;">
			<h4>Image</h4>
		</div>
		<div id = "addtext" class = "col-sm-12 col-xs-12 col-md-12 col-lg-5 col-lg-push-2 btn btn-success">
			<h4>Text</h4>
		</div>
	</div>
				
				<div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<br>
					<br>
				</div>		
				<div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<input id = "submit" type = "submit"  class = "col-md-12 col-lg-12 col-sm-12 col-xs-12 btn btn-success" name = "submit" value = "Upload Story">
				</div>
</form>
			


{% endblock %}
{% block footer %}
footer
{% endblock %}