{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block predata %}
	<link rel="stylesheet" type="text/css" href="{% static "css/discovery.css" %}">
	<script type="text/javascript" src="{% static "js/masonry.pkgd.min.js"%}"></script>
	<script type="text/javascript" src="{% static "js/imagesloaded.pkgd.min.js"%}"></script>
		<script type="text/javascript" src="{% static "js/discovery.js"%}"></script>

{% endblock %}
	
{% block content %}

	<div id = "itemcontent">
		<a class = "col-xs-12  col-sm-12 col-md-12 col-lg-12 card" href = "/stories/create_stories/" style = "color:black; padding:1px; margin-bottom:15px;"><h4 style = " text-align:center;">Create Story</h4></a>
		{% if list %}
			<div id = "feedcontent" class = "col-xs-12 col-md-12 col-lg-12" style = "padding:0">
			{% for story,image in list %}
				<div data-id = "{{image.id}}" class = "story-item col-xs-12 col-sm-12 col-md-6 col-lg-6" style ="padding:3px; background-color:transparent">
					<div class = "col-md-12 col-lg-12 col-xs-12 col-sm-12 card" style = "padding:0; margin-bottom:0px;">
						<div id = "card-image" class = "col-md-12 col-lg-12 col-xs-12 col-sm-12" style = "padding:0;" >
							<a class = "story" href = "/stories/read/?s={{story.storyid}}" >
								{% thumbnail image.story "500x500" crop="center" as im %}
									<img class = "img-responsive"  src="{{im.url}}" style = "width: 100%; text-align:center;">
								{% endthumbnail %}
							</a>


						</div>
						{% if image.user %}
							{% thumbnail image.user "330x330" crop="center" as im %}
								<div id = "card-background"  class = "col-xs-12 col-lg-12" style="background-image:url({{im.url}});">
							{% endthumbnail %}
						{% else %}
								<div id = "card-background"  class = "col-xs-12 col-lg-12" style="background-color:white;">
						{% endif %}
							<div id = "card-info" class = "col-xs-12 col-lg-12" style = "margin:0; padding:0;">
						{% if image.user %}
							{% thumbnail image.user "330x330" crop="center" as im %}
								<img id = "card-user-image" class = "img-circle img-responsive user-pic" style = " height:50px; width:50px; margin-top:-25px; position:absolute; left:50%;   margin-left:-25px;" src = "{{im.url}}" /> 
							{% endthumbnail %}
						{% else %}
								<img id = "card-user-image" class = "img-circle img-responsive user-pic" style = " height:50px; width:50px; margin-top:-25px; position:absolute; left:50%;   margin-left:-25px;" src = "{% static "image\default\DefaultIconBlack_1.png" %}" /> 
						{% endif %}						
								<div class = "col-md-12 col-lg-12 col-xs-12 col-sm-12" style = "margin-top:25px;">
									<h4 style = "text-align: center; color:white;">{{story.title}}</h4>
								</div>
								<div  class = "col-md-12 col-lg-12 col-xs-12 col-sm-12"  style="margin-bottom:20px;">
									<div  class = "col-md-12 col-lg-12 col-xs-12 col-sm-12" style = "text-align:center; color:white;">
										<h4 class = "dont-break-out" > <a href = "/profile?u={{story.user.username}}">{{story.user.username}}</a> </h4>
										<h5>{{image.time}} ago</h4>
									</div>
								</div>
								<div  class = "col-md-12 col-lg-12 col-xs-12 col-sm-12">
									<div class = "col-md-12 col-lg-12 col-xs-12 col-sm-12 feed-comment-star">
										{{story.commentcount}} comments
									</div>
									<div class = "col-md-12 col-lg-12 col-xs-12 col-sm-12 feed-comment-star">
										{{story.starcount}} stars
									</div>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			{% endfor %}

			</div>
			<div id = "readmore" class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-success" style = "margin-top:10px; margin-bottom:10px; margin-left:2px;">
				Read more
			</div>
		{% else %}
		<div class = "col-lg-10 col-lg-push-1 col-md-12 col-sm-12 col-xs-12 card" style = "text-align:center;"><h4>You have no new feed at this moment.</h4></div>
		{% endif %}
	</div>

	

{% endblock %}
{% block footer %}
footer
{% endblock %}