{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block predata %}
	<link rel="stylesheet" type="text/css" href="{% static "css/option.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/option_2.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/following.css" %}">
	<script type="text/javascript" src="{% static "js/following.js"%}"></script>
	
{% endblock %}
	
{% block content %}

	{% include "option.html" %}
<div id = "feedcontent" class = "col-md-8 col-md-pull-1 col-lg-10 col-sm-12 col-xs-12" style = "margin:0; padding:0;">

	<div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12  text-green">
		<h2>Readers</h2>
	</div>
	<div class = "col-md-12 col-lg-12 col-sm-12 col-xs-12 text-green">
		<hr>
	</div>
	<div>
		{% for story,person in list %}
			<div class = "visible-lg col-lg-12">
				<div class = "col-md-2 col-lg-2">
				{% if person.user_image %}
					{% thumbnail person.user_image "330x330" crop="center" as im %}
						<img class = "img-circle img-responsive user-pic" src = "{{im.url}}"/> 
					{% endthumbnail %}
				{% else %}
						<img class = "img-circle img-responsive user-pic"  src = "{{MEDIA_URL}}media/default/DefaultIconBlack_1.png" data-toggle="dropdown" /> 
				{% endif %}
				</div>
				<div class = " col-lg-8 v-center" >
					<h3 style = "padding:0;">
						<a href = "/profile?u={{person.user1}}" >
							{{person.user1}} 
						</a>
						<span>{{person.content}}&nbsp;</span>  
						{% if person.user2 %}
							<a href = "/profile?u={{person.user2}}" >
								{{person.user2}} 
							</a>	
					</h3>
					<h6>{{person.time}} ago</h6>
				</div>

					{% else %}
				<h6>{{person.time}} ago</h6>
				</div>
				<div class = "col-md-2 col-lg-2">
						{% thumbnail person.story "330x330" crop="center" as im %}
							<a href = "/stories/read/?s={{story.storyid}}"><img class = "img-rounded img-responsive"   src = "{{im.url}}" /></a>
						{% endthumbnail %}
					
				</div>
					{% endif %}
				<div class = "col-md-12 col-lg-12">
					<hr>
				</div>
			</div>

		<!-- This is for medium -->	
	
			<div class = "visible-md visible-xs visible-sm col-xs-12 col-sm-12 col-md-12">
				<div class = "col-md-3 col-xs-3 col-sm-2">
				{% if person.user_image %}
					{% thumbnail person.user_image "330x330" crop="center" as im %}
						<img class = "img-circle img-responsive user-pic" src = "{{im.url}}"/> 
					{% endthumbnail %}
				{% else %}
						<img class = "img-circle img-responsive user-pic"  src = "{{MEDIA_URL}}media/default/DefaultIconBlack_1.png" data-toggle="dropdown" /> 
				{% endif %}
				</div>
				<div class = "col-md-6 col-xs-6 col-sm-7 v-center" >
					<h5 style = "padding:0;">
						<a href = "/profile?u={{person.user1}}" >
							{{person.user1}} 
						</a>
						<span>{{person.content}}&nbsp;</span>  
						{% if person.user2 %}
							<a href = "/profile?u={{person.user2}}" >
								{{person.user2}} 
							</a>	
					</h5>
					<h6>{{person.time}} ago</h6>
				</div>

					{% else %}
				<h6>{{person.time}} ago</h6>
				</div>
				<div class = "col-md-3 col-xs-3 col-sm-2">
						{% thumbnail person.story "330x330" crop="center" as im %}
							<a href = "/stories/read/?s={{story.storyid}}"><img class = "img-rounded img-responsive"   src = "{{im.url}}" /></a>
						{% endthumbnail %}
					{% endif %}
				</div>
			
				<div class = "col-md-12 col-xs-12 col-sm-12">
					<hr>
				</div>
			</div>
		{% endfor %}

	</div>
</div>
{% endblock %}
{% block footer %}
footer
{% endblock %}