{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block predata %}
	<link rel="stylesheet" type="text/css" href="{% static "css/notification.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/option.css" %}">
	<script type="text/javascript" src="{% static "js/notification.js"%}"></script>
	
{% endblock %}
	
{% block content %}
	<div class = "col-md-12 col-lg-12 col-xs-12 col-sm-12 text-green card">
		<h3 style = "text-align:center;">Notifications</h3>
	</div>
		<div id = "mainnotification">
			{% for item in mainnotification %}
				<div data-id = "{{item.id}}"  class = "notification-item col-sm-12 col-xs-12 col-md-12 col-lg-12 card" >
					{% if item.story %}
						<div class = "col-sm-8 col-xs-12 col-md-9 col-lg-9">
							<h4><a href = "/profile?u={{item.username}}">{{item.username}}</a> {{item.topic}}<h6>{{item.time}} ago</h6></h4>
						</div>
						<div class = "col-sm-4 col-xs-12  col-md-3 col-lg-2 col-lg-push-1">
							{% thumbnail item.story_image "330x330" crop="center" as im %}
								<a href = "/stories/read/?s={{item.story}}"><img class = "img-rounded img-responsive"   src = "{{im.url}}" /></a> 
							{% endthumbnail %}
						</div>
					{% else %}
						<div class = "col-sm-12 col-xs-12  col-md-12 col-lg-12">
							<h4><a href = "/profile?u={{item.username}}">{{item.username}}</a> {{item.topic}}<h6>{{item.time}} ago</h6></h4>
						</div>
					{% endif %}
					
				</div>

			{% endfor %}
			{% block featured %}
			{% endblock %}
		</div>
			<button type="button" class="btn btn-success col-md-12 col-lg-12 col-sm-12 col-xs-12" id = "notibutton">Read more</button>
		<br>

{% endblock %}
