<div class = " col-xs-4 col-xs-pull-1  col-sm-3 col-sm-pull-1 col-lg-2 col-md-2 col-md-pull-2 col-lg-pull-2" id = "option" >
		<a class = "col-md-12 col-lg-12 col-xs-6 col-xs-push-3 col-sm-12 btn btn-default btn-xs target1"  href = "/feed">
			<h5>Feed</h5>
		</a>
		<a href = "/following" class = "col-xs-6  col-xs-push-3 col-md-12 col-lg-12 col-xs-12 col-sm-12 btn btn-default btn-xs target2" >
			<h5>Readers</h5>
		</a>
		<a href = "/bookmark" class = "col-xs-6  col-xs-push-3  col-md-12 col-lg-12 col-xs-12 col-sm-12 btn btn-default btn-xs target4">
			<h5>Bookmark</h5>

		</a>
		<a href = "/stories/create_stories/" class = "col-xs-6  col-xs-push-3  col-md-12 col-lg-12 col-xs-12 col-sm-12 btn btn-default btn-xs ">
			<h5>New Story</h5>
		</a>
</div>
