{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load comments %}
{% block meta %}
	<meta property="og:title" content="{{story.title}}" />	
	{% for image in metaimage %}
		{% thumbnail image.source "x700" as im %}
		<meta property="og:image" content="{{im.url}}"/>
		{% endthumbnail %}
	{% endfor %}
{% endblock %}
{% block predata %}
	<link rel="stylesheet" type="text/css" href="{% static "css/read_stories.css" %}">
	<!-- Add fancyBox -->
	<link rel="stylesheet" href="{% static "fancybox/source/jquery.fancybox.css"%}?v=2.1.5" type="text/css" media="screen" />
	<script type="text/javascript" src="{% static "fancybox/source/jquery.fancybox.pack.js"%}?v=2.1.5"></script>
	<script type="text/javascript" src="{% static "js/read_stories.js"%}"></script>
	<script type="text/javascript" src="{% static "js/read_album.js"%}"></script>
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
	
	<script type="text/javascript" src="{% static "js/masonry.pkgd.min.js"%}"></script>
	<script type="text/javascript" src="{% static "js/imagesloaded.pkgd.min.js"%}"></script>

{% endblock %}
{% block option %}
{% endblock %}
{% block storyboard%}
	<div class= "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "storyboard" style = "margin:0; padding:0; min-height: 100vh; margin-bottom:20px; padding-bottom:20px;">	
{% endblock %}
{% block content %}

	<div id = "ine">
		<div id = "story-author" class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="padding:0; margin:0; padding-bottom:5px;">
			{% thumbnail banner "x700" as im %}
			<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="background-position: 50% 50%;background-image:url({{im.url}}); height:100vh; padding:0; background-repeat:no-repeat;   background-size: cover;  background-repeat: no-repeat; background-attachment: fixed; ">
			{% endthumbnail %}
			<div class="col-md-12 col-sm-12  col-xs-12 col-lg-12 " style="color:white;	padding:0;width:100%; height:100%; background-color: rgba(0, 0, 0, 0.4);">
					<div class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3" style="margin-top:25vh;">
					<h1 id = "story-title" style = "text-align:center;">{{story.title}}</h1>
					<h4 style = "text-align:center;">Album by  <a href="/profile?u={{author.username}}">{{author.username}}</a> </h4>
					</div>
					<div class ="col-xs-12 col-sm-12 col-md-12 col-lg-12 button"style = "margin-top:20px;">
						<button type="button" class="col-xs-4 col-xs-push-1 col-sm-2 col-sm-push-3 col-md-2 col-md-push-3 col-lg-1 col-lg-push-4 btn btn-success" id = "star" value = "{{story.storyid}}" style = "border-color:white; background-color:transparent; color:white;"><span class = "glyphicon glyphicon-star"></span><span id = "starcount"> {{story.starcount}}</span></button>
						<button type="button" class="col-xs-4 col-xs-push-3 col-sm-2 col-sm-push-5 col-md-2 col-md-push-5 col-lg-1 col-lg-push-6   btn btn-success" id = "autoplay" style = "border-color:white; background-color:transparent; color:white;">Auto Play</button>
					</div>
				</div>

			</div>

		</div>
		<div id = "album-content" class = "story-content item col-xs-12 col-md-2 col-lg-12 " style = "padding:0;" >
			{% for item in items %}
					
						{% if item.text %}
						{% elif item.source %}
						{% thumbnail item.source "x700" as im %}
							<div pos = "{{item.position}}"  class=" col-lg-2 image-content" style = " padding:0;">
									<div class = "col-lg-12" style = "padding:3px;">
										
										<a class=" fancybox-thumb" rel="fancybox-thumb" href="{{im.url}}" style = "width:100%;">
		
											<div class = "col-lg-12 card" style = "margin-bottom:2px; padding-top:0; padding-left:0; padding-right:0;">
												<img style = "border-top-left-radius: 5px; border-top-right-radius: 5px	;" class="img-responsive" src="{{im.url}}" alt="Chania" >
												<h5 style = "text-align:center; color:black; margin-top:10px;"> {{item.caption}} asfasdfasdfsfd</h5>
											</div>
									
										
										</a>
									
									</div>
							</div>
						{% endthumbnail %}
						{% endif %}
					
			{% endfor %}
		</div> 
	</div>
				{% if user.is_authenticated %}
				<div class = "col-xs-12 col-md-12 col-lg-12" style = "padding:0; margin:0; margin-top:30px;">
					<div class = "col-xs-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 ">
					<div class="col-xs-12 col-lg-12 card" style=" margin-top:30px; " style = "margin-top:30px;">
						<div class = "col-xs-12 col-md-12 col-md-12 col-lg-12">
							<div id = "oldercomment" class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-success" style = "margin-top:10px; margin-bottom:10px; margin-left:2px;" value = "{{story.storyid}}">
								Read more comment
							</div>
						</div>

						<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<hr>
						</div>
						<div id = "comment">
							{% for comment in comments %}
								<div data-id = "{{comment.id}}" class = "comment-item col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class = "visible-md visible-lg col-md-1 col-lg-1" style = "padding-left:0px; padding-right:0px; ">
										{% if comment.image %}
											{% thumbnail comment.image "330x330" crop="center" as im %}
												<img class = "img-circle img-responsive user-pic"   src = "{{im.url}}" /> 
											{% endthumbnail %}
										{% else %}
											<img class = "img-circle img-responsive user-pic"   src = "{% static "image\default\DefaultIconBlack_1.png" %}" /> 
										{% endif %}
									</div>
									<div class = "col-xs-12 col-sm-12 col-md-10 col-lg-10">
										<h4><a href = "/profile?u={{comment.username}}" class = "text-green">{{comment.username}}</a> {{comment.comment}}</h4><h6>{{ comment.time}} ago</h6>
									</div>
								</div>
								<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<hr>
								</div>
							{% endfor %}
						</div>
						<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{% get_comment_form for story as form %}
								<div id="comment_form">
									<form action="{% comment_form_target %}" method="POST">
									{% csrf_token %}
									<div class = "col-md-9 col-lg-9 col-xs-12 col-sm-8" style = "margin-bottom:10px;">
									<textarea class="form-control" id="id_comment" maxlength="3000" name="comment" rows="1" style="overflow:hidden"></textarea>
									</div>
									{{ form.honeypot }}
									{{ form.content_type }}
									{{ form.object_pk }}
									{{ form.timestamp }}
									{{ form.security_hash }}
									<div class = "button">
										<button type="button" class="btn btn-success col-lg-3 col-md-3 col-xs-12 col-sm-4" id = "id_submit">Comment</button>
									</div>
									</form>
								</div>
						</div>
					</div>
					</div>
				</div>
				{% else %}
					<div class = "col-lg-12 col-xs-12 " style = "padding-top:25px;">
						<div class = "col-xs-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3 card">
							<h3>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</h3>
						</div>
					</div>
				{% endif %}
		
{% endblock %}
{% block featured %}
	{% if request.user.id == story.user_id %}
	<div type="button" id = "delete" class="select-option col-xs-12 col-sm-2 col-sm-push-1 col-md-2 col-md-push-1 col-lg-2 col-lg-push-2 card" data-toggle="modal" data-target="#myModal" style = "color:black; padding:0px;"><h3 style = "margin-top:10px; text-align:center;" >Delete</h3></div>
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
				  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Delete</h4>
				 </div>
				  <div class="modal-body">
					<h2>Are you sure you want to delete this post?<h2>
						<form method="post" action=".">
							{% csrf_token %} 
							<h4 id = "server-feedback"></h4>
							<div data-id = "{{story.storyid}}" id = "delete-submit" class=" btn btn-lg btn-danger btn-block">Delete</div>
						</form>
					 </div>
					 <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					 </div>
				</div>
			  </div>
		</div>
	</div>
	{% endif %}
{% endblock %}
{% block footer %}

{% endblock %}