html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	
}
#feed{
	border-left:medium solid #629632;	
}
#feed > h5{
	color:black;
	
}
#discovery{
border-left:thick solid transparent;	
}
#discovery > h5{
	color:#A2A2A1;
	
}
#discovery:hover > h5{
	color:black;
	
}
@media screen and (max-width: 768px) { 
	.select-option {
		max-width:500px;
	}
	#option .select-option  h4{
		    font-size: 10px;
	}
	
}
#card-info{
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.4);
}
#card-background{
margin-top:-25px; padding:0;
 background-repeat:no-repeat;		
 background-size: cover; 
 -webkit-background-size: cover; 
 -moz-background-size: cover; 
 -o-background-size: cover; 
 background-size: cover;
 padding:0;
 border:solid;
  border-width: 1px 1px 1px 1px;
  border-color: white;
  background-color:white;
}
#card-image{
 border:solid;
  border-width: 1px 1px 0px 1px;
  border-color: white;
}
#card-user-image{
 border:solid;
  border-width: 2px;
  border-color: white;
}
.feed-comment-star{
margin-bottom:15px; 
background-color:white;
 color:black;    
 padding: 6px 12px;
 text-align:center;
}