#logo {
	padding-left: 0px;
}
#signin{
	margin-top: 0px;
}
.btn-link {
color:white;
}
.btn-success {
border-style: solid;
border-color:white;
}
#middle{
	padding-left:0px;
	padding-right:0px;
}
#container-middle{
	width:100%;
	height:100%;

	background-color: rgba(0, 0, 0, 0.5);
}


