{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		{% block meta %}	
		<!-- This block is for the meta to be added -->
		{% endblock %}	
		<link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
		<title>Mementho</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">	
		<!-- Latest compiled and Google JavaQuery -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript"  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js""></script>
		<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
		<script type="text/javascript" src="{% static "js/base.js"%}"></script>
		{% if user.is_authenticated %}
			<script>
				document.getElementById('search_input').onkeypress = function(e){
					if (!e) e = window.event;
					var keyCode = e.keyCode || e.which;
					if (keyCode == '13'){
						$string = "/profile?u=" + $( "#search_input" ).val();
						window.location.replace($string)
					}
				}
			</script>
		{% else %}
			<style>
				div #content{
					margin-top:100px;
				}
			</style>
		{% endif %}
		{% block predata %}	
		<!--Depend on the page it will upload its own css and javascript -->
		
		{% endblock %}
    </head>
<body>
<div id = "container" class = "container-fluid" >
	<div id = "body" class = "row">
		{% block header %}
		{% if user.is_authenticated %}
		<div id = "navbar" class = "navbar-fixed-top" style="background-color: #629632" >
				
								<div  class = "v-center col-md-1 col-md-push-1 col-lg-1 col-lg-push-1 col-xs-3 col-sm-2" href = "/">
									<a href = "/"><img id = "logo" class = "img-responsive " src = "{% static "image\welcome_header\MT-Logo.png" %}" style = "float: right; height:35px; width:35px;"  /></a>
								</div>
								<div id = "search_bar"  class="v-center visible-lg visible-md visible-sm  col-lg-push-1  col-sm-5  col-md-5 col-md-push-1 col-lg-4" >
									<div class="input-group">
										<input id="search_input" type="text" class="form-control" placeholder="Search User">
											<span class="input-group-btn">
												<button id = "search" type="button" class="btn btn-default btn-md">
													<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
												</button>
											</span>
										</input>
									</div><!-- /input-group -->
								</div>
							<div id = "notification" class="v-center col-md-1 col-md-push-2 col-lg-1 col-lg-push-2 visible-lg visible-md " style = "margin-left:0;">
								<div data-toggle="dropdown" data-target="#">
									<div class="col-md-12 col-lg-12 button" style = "padding-left:0;">
										<button class="btn btn-success" type="button" id = "notificationbutton" style = "background-color:transparent; border-color:white; color:white;">
										Notification <span id = "count">{{count}}</span></button>
									</div>
								</div>
								<ul class="dropdown-menu" >
									{% for noti in notification %}
										<li>
											{% if noti.story %}
												<a href = "/stories/read/?s={{noti.story}}"><h5>{{noti.username}} {{noti.topic}}</h5></a>
											{% else %}
												<a href = "/profile?u={{noti.username}}"><h5>{{noti.username}} {{noti.topic}}</h5></a>
											{% endif %}
										</li>
									{% endfor %}
									<li>
									<hr>
									<a href = "/notifications/"><h4>See more notification<h4></a>
									</li>
								</ul>
							</div>
							<!-- For xs notification -->
							<div id = "small-noti" class = "v-center visible-xs visible-sm col-xs-2 col-sm-1"  >
								<a href = "/notifications/" style = "text-decoration: none;">
										<div class="btn btn-success button-xs " style = "background-color:transparent; border-color:white;">
										<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></div>
								</a>
							</div>
							<!-- For xs search -->
							<div id = "small-search" class = "v-center visible-xs  col-xs-2" >
								<a href = "/user_search" style = "text-decoration: none; ">
										<div class="btn btn-success button-xs "  style = "background-color:transparent; border-color:white;">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
										</div>
								</a>
							</div>
							
							<div id = "username" class=" col-sm-2 col-md-2 col-md-push-2  col-lg-1 col-lg-push-3 col-xs-2">
								
									<h4 class = "visible-lg visible-md visible-sm text-white text-right">
										<a href = "/profile?u={{ user.username }}" style = "color:white;text-decoration: none;">{{ user.username }}</a>
									</h4> 
									<h5 class = "visible-xs text-white text-right">
										<a href = "/profile?u={{ user.username }}" style = "color:white;text-decoration: none;">User</a>
									</h5> 
								
							</div>
							<div id = "user-image" class="col-md-1  col-md-push-2  col-lg-1 v-center  col-xs-3 col-lg-push-3 col-sm-1">
								{% if profile.profile_pic.image %}
									{% thumbnail profile.profile_pic.image "330x330" crop="center" as im %}
										<img class = "img-circle img-responsive " style="height: 33px; cursor: pointer;"  src = "{{im.url}}" data-toggle="dropdown" data-target="#"/> 
									{% endthumbnail %}
								{% else %}
									<img class = "img-circle img-responsive " style="height: 33px; cursor: pointer;"   src = "{% static "image\default\DefaultIconBlack_1.png" %}" data-toggle="dropdown" data-target="#"/> 
								{% endif %}
								
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="/profile/edit/">Edit Profile</a></li>
									<li><a href="/profile/edit/image/">Edit Profile Picture</a></li>
									<li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a></li>
								  </ul>		
							</div>
				
			<script>
				document.getElementById('search_input').onkeypress = function(e){
				if (!e) e = window.event;
				var keyCode = e.keyCode || e.which;
				if (keyCode == '13'){
					$string = "/profile?u=" + $( "#search_input" ).val();
					window.location.replace($string)
				}
			}
			</script>
		</div>
		{% else %}
		
		<div class = "navbar-fixed-top">
			<div class="container-fluid" >
				<div class = "row" style="background-image:url({% static "image\welcome_header\header_background.jpg" %})">
					<a href = "\"><img id = "logo" class="logo-2 col-lg-4 col-sm-6 col-xs-12 col-md-6 col-lg-push-1" src = "{% static "image\welcome_header\logo.png" %} "/></a>
				</div>
			</div>
		</div>
		
		{% endif %}
		{% endblock %}
		
		<div id="content" >
		{% block option %}
			<div class = "col-xs-12 col-sm-2  col-md-2  col-lg-2 col-lg-push-2">
				<div id = "option" style = "color:black; padding:0px;" class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
				{% if user.is_authenticated %}
					<h6 style = "margin-left:2px; margin-top:2px; margin-bottom:0; font-weight: bold;  color:#85887F;" >MEMENTHO</h6>
					<hr style = "margin-bottom: 0px;margin-top:2px;  border-color:#85887F;">
					<a id = "feed" class = "select-option col-xs-6 col-sm-12 col-lg-12 " href = "/" style = "color:black; margin:0px;"><h5>News Feed</h5></a>
					<a id = "discovery" class = "select-option col-xs-6 col-sm-12 col-lg-12 " href = "/discovery/" style = "color:black;margin:0px;"><h5 >Discover</h5></a>
					<!-- <a class = "select-option col-xs-3 col-sm-12   col-lg-12 " href = "following/" style = "color:black; padding:0px;margin:0px;"><h4 style = " text-align:center;">Readers</h4></a>
					<a class = "select-option col-xs-3 col-sm-12  col-lg-12 " href = "/bookmark" style = "color:black; padding:0px;margin:0px;"><h4 style = " text-align:center;">Bookmark</h4></a>-->
				{% else %}
					<a class = "select-option col-xs-12 col-sm-12  col-lg-12 " href = "/" style = "color:black; padding:0px;margin:0px;"><h4 style = " text-align:center;">Log In</h4></a>
				{% endif %}
					
				</div>
			</div>
			{% endblock%}
			{% block storyboard%}
				<div class= "col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-push-2 col-xs-12 col-sm-6" id = "storyboard" style = "min-height: 100vh; margin-bottom:20px; padding-bottom:20px;">	
			{% endblock %}
				{% block content %}
				{% endblock %}
			</div>
			
			{% block featured %}
			<div class = "visible-lg visible-md visible-sm col-xs-12 col-sm-4 col-md-4 col-lg-2 col-lg-push-2">
						<h6 style = "margin-left:2px; margin-top:2px; margin-bottom:0; font-weight: bold;  color:#85887F;" >NEW AUTHOR</h6>
						<hr style = "margin-bottom: 0px;margin-top:2px;  border-color:#85887F;">
						{% for user in featured %}
						<a href = "/profile/?u={{user.username}}" class = "select-option col-md-12 col-sm-12 col-xs-12 col-lg-12" >
						{% if user.image %}
							{% thumbnail user.image "330x330" crop="center" as im %}
							<div class = "col-sm-3 col-md-2 col-lg-3" style = "margin-left:0; margin-right:0; padding:0;padding-bottom:5px;">
								<img id = "card-user-image" class = "img-circle user-pic " style = " height:35px; width:35px; " src = "{{im.url}}" /> 
							</div>
							{% endthumbnail %}
						{% else %}
							<div class = "col-sm-3 col-md-2 col-lg-3" style = "margin-left:0; margin-right:0; padding:0;padding-bottom:5px;">
								<img id = "card-user-image" class = "img-circle  user-pic" style = " height:35px; width:35px;" src = "{% static "image\default\DefaultIconBlack_1.png" %}" /> 
							</div>
						{% endif %}	
						
							<h5 class = "sub-info col-sm-8 col-md-8 col-lg-8" style = " margin-top:8px; margin-left:0; margin-bottom:0; padding:0;">{{user.username}}<h5>
							<h6 class = "sub-info col-sm-8 col-md-8 col-lg-8" style = "  margin-left:0; margin-top:0; padding:0;">{{user.desc}}<h6>
						
						</a>
						{% endfor %}
			</div>
			{% endblock %}
			

			
			<div id = "footer" class="col-lg-12">
				<div class="col-lg-8 col-lg-push-2 col-md-8 col-md-push-2 col-sm-12 col-xs-12  " style = "margin-bottom:20px;">
					© 2015 Mementho |  <a href="/company/about">About</a> | <a href="/company/privacy">Privacy</a> | <a href="/company/terms">Terms</a> | <a href="/company/acceptable">Acceptable Use</a> | <a href="/company/support">Support</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

</html>
